<style>
.friends{
   display: block;
margin-left: auto;
margin-right: auto;
width: 50%;


}
.lekha{
    text-align: center;

}
font-family: 'Anton', sans-serif;
font-family: 'Libre Baskerville', serif;

</style>